<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creaet a new posts</title>
</head>
<body>
    <form action="/posts"method="post">
        <input type="text" name="username" placeholder="Enter your username" ><br><br>
        <textarea name="content" >"write your Post"</textarea><br><br>
         <button type="submit">Post</button>
    </form>
</body>
</html>